/*-- STYLE CONNECTIONS --*/
li {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

/*-- Header START --*/

.brand {
    width: 100%;
    display: flex;
}

header {
    width: 100%;
    display: flex;
    background-color: #212121;
    /*position: fixed;*/

}

.brand_icon a{
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
}

.brand_icon {
    margin-left: 20%;
    padding-top: 20px;
}

.nav_brand a{
    color: #c2c2c2;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 5px;
    font-weight: bold;
}

.nav_brand {
    display: flex;
    margin-top: 20px;
    margin-left: 25px;
    padding-bottom: 18px;
}



.active_brand{ 
    background-color: #383838;

}

.social_icons {
display: flex;
justify-content: flex-end;
margin-right: 20%;
margin-top: 20px;
}

.social_icons img {
    margin-left: 25px;
}

.social_icons img:hover{
    opacity: 0.5;
}

.nav_brand [type="checkbox"]{
    display: none;
}

.nav_brand label{
    color: #ffffff;
    display: block;
    cursor: pointer;
    font-size: 18px;
    display: none;
}

/*-- Header STOP --*/

/*-- Main START --*/

/*-- Banner START --*/

.banner {
    background-color: rgba(46, 44, 44, 0.733);
    background-size: 100% 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.pain {
    font-weight: bold;
    color: #ffffff;
    height: 50px;
    width: 150px;
    background-color: rgba(0, 00, 00, 0);
    border: 2px solid #ffffff; 
    cursor: pointer;
}

/*-- SLIDER START --*/
.opacity_banner1 {
    background-image: url(img/SWOP.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}

.opacity_banner2 {
    background-image: url(img/obito.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}

.opacity_banner3 {
    background-image: url(img/pain.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}

.gallery{
    text-align: center;
    margin: 0 auto; 
    position: relative;
}
.photo{
    height: 540px;
    position: relative;
}

.photo>div{
    position: absolute;
    width: 100%;
    opacity: 0;
    left: 0;
    transition: opacity 1s;
}

.photo .shown{
    opacity: 1;
}

.tabs{
    text-align: center;
    padding-top: 20px;
}

.tabs input {
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 24px;
    border: 0;
    background-color: rgba(0, 00, 00, 0);
}

.tabs input:hover {
    cursor: pointer;
}

.tabs input:first-child {
    left: 30px;
    top: 50%;
}

.tabs input:last-child {
    right: 30px;
    top: 50%;
}
/*-- SLIDER STOP--*/

.text_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    color: #ffffff;
}

.text_banner h1{
    margin-bottom: 25px;
    color: #ffffff;
}

.text_banner p {
    margin-bottom: 30px;
}

.citats {
    display: flex;
}

/*-- Banner STOP --*/

/*-- Categories START --*/

.categories {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.categories h2 {
    color: #ffffff;
    font-size: 18px;
    padding-left: 17px;
    padding-bottom: 20px;
}

.all_catigories a {
    margin-left: 20px;
    color: #c2c2c2;
    padding: 5px;
}

.wrapper_categories {
    display: flex;
    width: 50%;
    background-color: #212121;
    padding-top: 20px;
    border-radius: 7px;
}

.all_catigories [type="checkbox"]{
    display: none;
}

.all_catigories label{
    color: #ffffff;
    display: block;
    cursor: pointer;
    font-size: 18px;
    display: none;
}

/*-- Categories STOP --*/

/*-- Product START --*/

.product_style{
    transition: 0.5s
}
.product_style:hover {
    transform: scale(1.1);
}
.product_style2{
    transition: 0.5s
}
.product_style2:hover {
    transform: scale(1.1);
}


.sale_product {
    text-decoration: line-through;
}
/*--------LINE №1--------*/
.product_line1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.product_style {
    margin: 20px 20px 5px 20px;
    padding: 5px;
    background-color: rgba(0, 00, 00, 0);
    border: 2px solid rgba(0, 0, 0, 0.11);
    box-shadow: 0 14px 10px rgba(0,0,0,0.25);
}
.product_style h3 {
    display: flex;
    justify-content: center;
    color: #9e9e9e;
}
.product_style h2 {
    display: flex;
    justify-content: center;
    color: #4f4f4f;
}

.product_style h4 {
    display: flex;
    justify-content: center;
    color: #212121;
}
/*--------LINE №1--------*/

/*--------LINE №2--------*/
.product_line2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.product_style2 {
    margin: 20px 20px 5px 20px;
    padding: 5px;
    background-color: rgba(0, 00, 00, 0);
    border: 2px solid rgba(0, 0, 0, 0.11);
    box-shadow: 0 14px 10px rgba(0,0,0,0.25);
}

.product_style2 h3 {
    display: flex;
    justify-content: center;
    color: #9e9e9e;
}
.product_style2 h2 {
    display: flex;
    justify-content: center;
    color: #4f4f4f;
}

.product_style2 h4 {
    display: flex;
    justify-content: center;
    color: #212121;
}
.img_product {
    display: flex;
    justify-content: center;
}

/*--------LINE №2--------*/

/*-- Product STOP --*/


/*-- List START --*/

.list {
    display: flex;
    justify-content: center;
}

.list_number {
    padding-top: 45px;
    font-size: 20px;
}

.list_button{
    color: black;
}

.active_number {
    border-radius: 2px;
    padding: 5px;
    background-color: #212121;
    color: #ffffff;
}


/*-- List STOP --*/

/*-- Main STOP --*/

/*-- Footer START --*/
/*-- Spcial STOP --*/

.social {
    width: 100%;
    margin-top: 45px;
    background-color: #212121;
    display: flex;
    justify-content: center;
}

.social img{
    padding: 25px 10px 0px 10px;
}

/*-- Spcial STOP --*/
/*-- Footer STOP --*/
